# Google OAuth Credentials
GOOGLE_CLIENT_ID=239147375330-k55fs9lio7roq3qn16i5ejrjck5c22bi.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
SESSION_SECRET=eli-nic-secret-2026
